.title{
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 20px 20px;
    color: crimson;
    font-size:50px;
}
.cart-field{
    padding: 5px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin-right: 10px;
}
.cart-div{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;
}
.add-btn{
    height: 40px;
    width: 100px;
    background-color: seagreen;
    color: #fff;
    border: none;
    border-radius:5px;
}
.cart-list{
    /* display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column; */
    margin-bottom:10px;
    font-size: 30px;
    margin-left: 800px;
}
.cart-count{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
}
#cart-count{
    margin-right: 20px;
}
.clear-btn{
    margin-left: 20px;
}